.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #fff;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

input {
    display:block;
    font: 18px;
}

#bg {
    background: #212529;
}



